@import "../../style/mixins";
@import "../../style/colors";

.home {
  background-color: $background;
  //height: 100vh;
  @include display-flex;
  overflow-y: auto;

  .container {
    border: 3px solid $burgundy;
    //border-radius: 10px;
    width: 1000%;
    height: 100%;
    @include display-flex(center, stretch);
    overflow: hidden;

    @include tablet {
      width: 90%;
    }

  }

  @include mobile{
    align-items: flex-end;

    & .container{
      width: 100%;
      height: calc(100% - 60px);
    }

  }
}