@import "../../style/mixins";
@import "../../style/colors";

.modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  @include display-flex;

  & .wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #000;
    opacity: .7;
    z-index: 101;
  }


  & .content {
    position: relative;
    //width: 600px;
    //background: linear-gradient(to bottom, $background 140px, $background_hover);
    z-index: 102;
    padding: 50px 100px;

    & .first{
      position: absolute;
      top: 0;
      left: 0;
      height: 140px;
      width: 100%;
      background: $background;
    }

    & .second{
      position: absolute;
      top: 140px;
      left: 0;
      height: calc(100% - 140px);
      width: 100%;
      background: linear-gradient(to bottom, $background, $background_hover);
    }

    & .cross {
      position: absolute;
      top: 20px;
      right: 20px;
      color: $text_light;
    }
  }

  @include mobile {

    & .content {
      width: 100%;
      height: 100%;
      padding: 60px 20px 20px;

      & .cross {
        top: 9px;
        right: 9px;
      }
    }
  }
}
