@import "../../style/mixins";
@import "../../style/colors";

.sidebar {
  height: 100%;
  flex: 1;
  background-color: $background;
  position: relative;
  border-right: 2px solid $pink;

  & .background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(33.3% + 2px);
    background: $burgundy;
  }

  & .navbar {
    @include display-flex(space-between);
    background-color: $burgundy;
    height: 50px;
    padding: 15px 20px 15px 50px;
    @include fonts(500, 18px, 18px, $text_light);

    & .logo {
      font-weight: bold;
    }

    & .background {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $burgundy;
    }


    & .user {
      @include display-flex;
      gap: 10px;

      & .short_user {
        @include display-flex;
        gap: 10px;

        & img {
          //background-color: #ddddf7;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  & .search {
    border-bottom: 1px solid $burgundy;

    & .searchForm {
      padding: 10px;
      @include display-flex(flex-start);
      gap: 10px;

      & input {
        background-color: transparent;
        border: none;
        color: $text_light;
        outline: none;

        &::placeholder {
          color: $text_dark;
        }
      }
    }
  }

  & .chats {
    overflow: auto;
  }

  & .userChat {
    padding: 10px;
    @include display-flex(space-between);

    cursor: pointer;
    overflow-y: auto;
    //border-bottom: 1px solid $text_dark;

    &:hover {
      background-color: $background_hover;
    }

    & .info_chat{
      @include display-flex(flex-start);
      gap: 10px;
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    & .userChatInfo {
      & span {
        @include fonts(500, 16px, 16px, $text_light);
      }

      & p {
        margin-top: 6px;
        @include fonts(500, 14px, 14px, $text_dark);
      }
    }
  }


  @include mobile {
    position: relative;

    & .background {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $burgundy;
    }

    & .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      padding: 15px 20px 15px 50px;

      & .logo {
        display: none;
      }

      & .user {
        width: 100%;
        @include display-flex(space-between);

        & .short_user {

          & img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    & .search {
      border-top: 1px solid $burgundy;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 0;
    }

    & .chats {
      padding: 70px 10px 60px;
    }
  }
}

